a{
    border: thin black dashed;
    border-top: 10px solid rgb(1, 1, 27);
}

.farmacia,.engenharia {
    border: 5px solid green;
    border-radius: 20px 50px 80px 100px;
    background-color: beige;
    width: 200px;
    height: 200px;
    }