
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}
.center{
    display: flex;
    flex-wrap:wrap;
    max-width: 100%;
    margin: 0 auto;
    padding:0 2%;
    
}
header{
    padding: 30px 0 0 30px; 
    height: 200px;

}


.logo{
    width: 36%;
    margin-left: 10%;

}
.menu{
    width: 50%;
    text-align: right;
    padding-top: 20px;
    font-size:10px;
}
.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 3%;
    font-size:150% ;
} 

nav .ultimo{
    margin-right:5px;
}
section.sobre{
    height: calc(100%-200px);
    position: relative;
}
.extras{
    position: absolute;
    top: 200px;
    bottom: -900px;
    right: -800px;
    width:1600px;
    height: 1600px;
    border-radius: 50%;
    background-color: #007042;
}
.extras .cafeP{
    position: absolute;
    width: 700px;
    margin-left:-80px;
    margin-top: -150px;
    transform: scaleX(-1);
}
 .InstagramL{
    width: 50px;
    position: absolute;
    margin-left: 725px;
    margin-top: 200px;
}
.FacebookL{
    width: 40px;
    position: absolute;
    margin-left: 730px;
    margin-top: 255px;
}
.twitterL{
    width: 40px;
    position: absolute;
    margin-left: 730px;
    margin-top: 300px;  
}
article.Slogan{
    margin-top: 300px;
    text-align: left;
    margin-left: -90%;  
}
h1 .bold{
    font-weight: bold;
    color:#007042;
    font-size: 115%;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
h1.titulo{
    font-family: "Barlow", sans-serif;
    font-size: 100px;
    font-weight: bold;
}
p.Descricao{
    font-size: 200%;
    width: 50%;
}
h1 .espacamento{
    word-spacing: 10px ;
}
.botao{
    margin-top: 20px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
    background-color:#007042 ;
    border: 0;
    font-size:125% ;
}
.extras .cafemini1, .cafemini2, .cafemini3{
    display: absolute;
    width: 100px;
    margin-top: 600px;

    
}
.extras .cafemini3{
    margin-left:-400px;
}
.extras .cafemini2{
    margin-left: -350px;
}
.extras .cafemini1{
    margin-left: -400px;
}