
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}
.center{
    display: flex;
    flex-wrap:wrap;
    max-width: 100%;
    margin: 0 auto;
    padding:0 2%;
    
}
header{
    padding: 30px 0 0 30px; 
    height: 200px;

}
.logo{
    width: 36%;
    margin-left: 10%;

}
.menu{
    width: 50%;
    text-align: right;
    padding-top: 20px;
    font-size:10px;
}
.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 3%;
    font-size:150% ;
} 

nav .ultimo{
    margin-right:5px;
}
section.sobre{
    height: calc(100%-200px);
    position: relative;
}
.extras{
    position:absolute;
    left:70%;
    top: 3%;
    width:800px;
    height:700px;
    border-radius: 50%;
    background-color: #007042;
}
.cafeP{
    position: absolute;
    width: 350px;
    left:65%;
    margin-top:-80px;
    transform: scaleX(-1);
}
.twitterL, .FacebookL, .InstagramL{
    width: 50px;
    position: absolute;
    left:96%;

}
.InstagramL{
    top:80px;
}
.FacebookL{
    top: 25px;
}
.twitterL{
    top:125px;
}


article.Slogan{
    
    text-align: left;
    margin-left: -73%;
    font-size: 8px;  
}
h1 .bold{
    font-weight: bold;
    color:#007042;
    font-size: 115%;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
section.titulo{
    font-family: "Barlow", sans-serif;
    width: 90%;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    margin-left:-73% ;
}
p.Descricao{
    font-size: 200%;
    width: 50%;
}
h1 .espacamento{
    word-spacing: 10px ;
}
.botao{
    margin-top: 20px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
    background-color:#007042 ;
    border: 0;
    font-size:125% ;
}
.cafemini1, .cafemini2, .cafemini3{
    position: absolute;
}
.cafemini2{
    width: 100px;
    right: 450px;
    top: 250px;
}
.cafemini1{
    width: 70px;
    right:550px;
    top:255px;
}
.cafemini3{
    width: 70px;
    right:640px;
    top: 240px;
}